<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        var benimapp=angular.module("myapp",[]);
        benimapp.controller("mycontrol", function($scope, $http)
        {



            $http.get("https://jsonplaceholder.typicode.com/posts").then(function(response){
                $scope.veriler=response.data;
            });

        });
    </script>
</head>
<body ng-app="myapp" ng-controller="mycontrol">
arama yap:<input type="search"  ng-model="arama">
<ul>
    <li ng-repeat="veri in veriler | filter:arama ">
        {{veri.body}}
    </li>

</ul>

</body>
</html>